{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="text-align: center">
            <h1>Os meus favoritos</h1>
            <hr>
            <br>
        </div>

        <table class="table table-responsive-lg table-hover"
               style="text-align: center; table-layout: fixed">
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Mês</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for row in database %}
                <tr>
                    <td><img src="data:image/jpeg;base64,{{ row.photo }}" style="width: 50px"></td>
                    <td>{{ row.brand }}</td>
                    <td>{{ row.model }}</td>
                    <td>{{ row.year }}</td>
                    <td>{{ row.month }}</td>
                    <td><a href="/infoItem/{{ row.id }}" class="btn btn-primary"><i class="fa fa-info"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}