{% extends "layout.html" %}

{% block headers %}
    <style>

        /* Style the search field */
        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        /* Style the submit button */
        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        /* Clear floats */
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }</style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="col-lg-11 offset-1" style="text-align: center">
        <form class="example" action="{% url 'search' %}" method="get">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="radio" name="pesquisa" value="brand" checked> Marca
            <input type="radio" name="pesquisa" value="model"> Modelo
            <input type="radio" name="pesquisa" value="year"> Ano
        </form>
    </div>
    <br>
    <div class="row">
        {% for row in database %}
            <div class="col-md-3 offset-1">
                <div class="card" style="width: border-box; width: 18rem;">
                    <img class="card-img-top" src="data:image/jpeg;base64,{{ row.photo }}"
                         style="height: 250px; width: 286px"
                         alt="{{ row.model }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ row.brand }} {{ row.model }}</h5>
                        <p class="card-text">Combustível: {{ row.typeOfFuel }}</p>
                        <a href="/infoItem/{{ row.id }}" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% if typeOfPage == "cars" %}
        <div class="col-lg-12" style="text-align: center">
            {% if carPage == 0 %}
                {% if real == last %}
                    <a href="/" class="btn btn-secondary disabled"><i class="fa fa-backward"> Inicial</i></a>
                    <a href="/cars/{{ prev }}" class="btn btn-primary disabled"><i
                            class="fa fa-arrow-left"> Anterior</i></a>
                    <a href="/cars/{{ next }}" class="btn btn-primary disabled"><i
                            class="fa fa-arrow-right"> Próxima</i></a>
                    <a href="/cars/{{ last }}" class="btn btn-secondary disabled"><i class="fa fa-forward">
                        Última</i></a>
                {% else %}
                    <a href="/" class="btn btn-secondary disabled"><i class="fa fa-backward"> Inicial</i></a>
                    <a href="/cars/{{ prev }}" class="btn btn-primary disabled"><i
                            class="fa fa-arrow-left"> Anterior</i></a>
                    <a href="/cars/{{ next }}" class="btn btn-primary"><i
                            class="fa fa-arrow-right"> Próxima</i></a>
                    <a href="/cars/{{ last }}" class="btn btn-secondary"><i class="fa fa-forward">
                        Última</i></a>
                {% endif %}
            {% else %}
                {% if real == last %}
                    <a href="/" class="btn btn-secondary"><i class="fa fa-backward"> Inicial</i></a>
                    <a href="/cars/{{ prev }}" class="btn btn-primary"><i
                            class="fa fa-arrow-left"> Anterior</i></a>
                    <a href="/cars/{{ next }}" class="btn btn-primary disabled"><i
                            class="fa fa-arrow-right"> Próxima</i></a>
                    <a href="/cars/{{ last }}" class="btn btn-secondary disabled"><i class="fa fa-forward">
                        Última</i></a>
                {% else %}
                    <a href="/" class="btn btn-secondary"><i class="fa fa-backward"> Inicial</i></a>
                    <a href="/cars/{{ prev }}" class="btn btn-primary"><i
                            class="fa fa-arrow-left"> Anterior</i></a>
                    <a href="/cars/{{ next }}" class="btn btn-primary"><i
                            class="fa fa-arrow-right"> Próxima</i></a>
                    <a href="/cars/{{ last }}" class="btn btn-secondary"><i class="fa fa-forward">
                        Última</i></a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
