{% extends 'layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
    <div class="row">
        {% if typeOfList == "vendors" %}
            <div class="col-lg-12">
                <div style="text-align: right">
                    <a href="/admins/users/buyers/1" class="btn btn-primary"><i
                            class="fa fa-list"> Ver todos os vendedores</i></a>
                    <a href="/analytics/all" class="btn btn-secondary">Todos os carros</a>
                    <a href="/analytics/sold" class="btn btn-secondary">Vendidos</a>
                    <a href="/analytics/selling" class="btn btn-secondary">À venda</a>
                </div>
            </div>
        {% else %}
            <div class="col-lg-12">
                <div style="text-align: right">
                    <a href="/admins/users/vendors/1" class="btn btn-primary"><i
                            class="fa fa-list"> Ver todos os vendedores</i></a>
                    <a href="/analytics/all" class="btn btn-secondary">Todos os carros</a>
                    <a href="/analytics/sold" class="btn btn-secondary">Vendidos</a>
                    <a href="/analytics/selling" class="btn btn-secondary">À venda</a>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
    <table class="table table-responsive-lg">
        <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telemóvel</th>
            <th>Morada</th>
            <th>Código Postal</th>
            <th>Cidade</th>
            <th>NIF</th>
        </tr>
        </thead>
        <tbody>
        {% for row in database %}
            <tr>
                <td><img src="data:image/jpeg;base64,{{ row.photo }}" class="img-responsive img-thumbnail " alt="user"
                         style="width: 50px; height: 50px"/>
                </td>
                <td>{{ row.name }}</td>
                <td>{{ row.mail }}</td>
                <td>{{ row.contact }}</td>
                <td>{{ row.address }}</td>
                <td>{{ row.zipCode }}</td>
                <td>{{ row.city }}</td>
                <td>{{ row.nif }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="col-lg-12" style="text-align: center">
        {% if pageID == 0 %}
            {% if real == last %}
                <a href="/admins/users/{{ typeOfList }}/1" class="btn btn-secondary disabled"><i class="fa fa-backward">
                    Inicial</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ prev }}" class="btn btn-primary disabled"><i
                        class="fa fa-arrow-left"> Anterior</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ next }}" class="btn btn-primary disabled"><i
                        class="fa fa-arrow-right"> Próxima</i></a>

                <a href="/admins/users/{{ typeOfList }}/{{ last }}" class="btn btn-secondary disabled"><i
                        class="fa fa-forward">
                    Última</i></a>
            {% else %}
                <a href="/admins/users/{{ typeOfList }}/1" class="btn btn-secondary disabled"><i class="fa fa-backward">
                    Inicial</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ prev }}" class="btn btn-primary disabled"><i
                        class="fa fa-arrow-left"> Anterior</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ next }}" class="btn btn-primary"><i
                        class="fa fa-arrow-right"> Próxima</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ last }}" class="btn btn-secondary"><i class="fa fa-forward">
                    Última</i></a>
            {% endif %}
        {% else %}
            <a href="/admins/users/{{ typeOfList }}/1" class="btn btn-secondary"><i class="fa fa-backward"> Inicial</i></a>
            <a href="/admins/users/{{ typeOfList }}/{{ prev }}" class="btn btn-primary"><i
                    class="fa fa-arrow-left"> Anterior</i></a>
            {% if real == last %}
                <a href="/admins/users/{{ typeOfList }}/{{ next }}" class="btn btn-primary disabled"><i
                        class="fa fa-arrow-right"> Próxima</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ last }}" class="btn btn-secondary disabled"><i
                        class="fa fa-forward">
                    Última</i></a>
            {% else %}
                <a href="/admins/users/{{ typeOfList }}/{{ next }}" class="btn btn-primary"><i
                        class="fa fa-arrow-right"> Próxima</i></a>
                <a href="/admins/users/{{ typeOfList }}/{{ last }}" class="btn btn-secondary"><i class="fa fa-forward">
                    Última</i></a>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}