{% extends 'layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
    <div class="row">
        {% if typeOfPanel == "selling" %}
            <div class="col-lg-6" style="text-align: left;">
                <a href="/sellerPanel/sold" class="btn btn-primary"><i
                        class="fa fa-list"> Ver vendas</i></a>
            </div>
        {% else %}
            <div class="col-lg-6" style="text-align: left;">
                <a href="/sellerPanel/selling" class="btn btn-primary"><i
                        class="fa fa-list"> Ver carros em venda</i></a>
            </div>
        {% endif %}
        <div class="col-lg-6" style="text-align: right;">
            <a href="/seller/add/" class="btn btn-secondary"><i
                    class="fa fa-plus"> Adicionar carro</i></a>
        </div>
    </div>
    <br>
    <table class="table table-responsive-lg">
        <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Mês</th>
            <th>Ano</th>
            <th>Quilómetros</th>
            <th>Combustível</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>
        {% for row in database %}
            <tr>
                <td><img src="data:image/jpeg;base64,{{ row.photo }}" class="img-responsive img-thumbnail " alt="user"
                         style="width: 50px; height: 50px"/>
                </td>
                <td>{{ row.brand }}</td>
                <td>{{ row.model }}</td>
                <td> {% if row.kilometers == 0 %}--{% else %}{{ row.month }} {% endif %}</td>
                <td> {% if row.kilometers == 0 %}--{% else %}{{ row.year }} {% endif %}</td>
                <td> {% if row.kilometers == 0 %}--{% else %}{{ row.kilometers }} {% endif %}</td>
                <td>{{ row.typeOfFuel }}</td>
                <td>
                    {% if typeOfPanel == "selling" %}
                        <div>
                            <a href="/seller/edit/{{ row.id }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                            <a href="/seller/delete/{{ row.id }}" onclick="return confirm('Are you sure?');"
                               class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            <a href="/seller/sold/{{ row.id }}" onclick="return confirm('Are you sure?');"
                               class="btn btn-success"><i class="fa fa-check"></i></a>
                        </div>
                    {% else %}
                        --
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}